# Assignment

### Question 1 : Explain with an example each when to use a for loop and a while loop.

#### Answer:- For Loop - A for loop is a control flow statement that allows you to execute a block of code repeatedly until a certain condition is met. It is used to iterate over a range of values or a collection of elements. The for loop consists of an initialization statement, a condition, and an iteration statement. It is a commonly used loop in programming, and it is available in most programming languages.

#### Example Of For Loop.

In [13]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

#### While Loop - A while loop is a control flow statement that allows you to repeatedly execute a block of code as long as a specific condition is true. It is used when you do not know how many times the loop will need to be executed before the condition is met. The while loop checks the condition at the beginning of each iteration, and if the condition is true, the code within the loop will be executed. This will continue until the condition becomes false, at which point the loop will exit. The syntax of the while loop includes the keyword "while," the condition in parentheses, and the code block to be executed in curly braces.

#### Example Of While Loop.

In [3]:
i=1
while i <=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

### Question 2 :- Write a python program to print the sum and product of the first 10 natural numbers using for and while loop.

#### Answer:- Using for Loop.

In [8]:
sum = 0
product = 1
for i in range(1,11):
    sum = sum+i
    product = product*i
print("Sum of The 10 Natural Number is ",sum)
print("Product of the First 10 Natural Number is ",product)

Sum of The 10 Natural Number is  55
Product of the First 10 Natural Number is  3628800

#### Using While Loop.

In [11]:
sum = 0
product = 1
i = 1
while i <=10:
    sum = sum+i
    product = product*i
    i=i+1
print("Sum of The 10 Natural Number is ",sum)
print("Product of the First 10 Natural Number is ",product)

Sum of The 10 Natural Number is  55
Product of the First 10 Natural Number is  3628800

### Question 3 :- Create a python program to compute the electricity bill for a household. The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit. You are required to take the units of electricity consumed in a month from the user as input.Your program must pass this test case: when the unit of electricity consumed by the user in a month is 310, the total electricity bill should be 2250.

#### Answer:-

In [14]:
units = int(input("Enter the units of electricity consumed: "))
if units <= 100:
    bill = units * 4.5
elif units <= 200:
    bill = 100 * 4.5 + (units - 100) * 6
elif units <= 300:
    bill = 100 * 4.5 + 100 * 6 + (units - 200) * 10
else:
    bill = 100 * 4.5 + 100 * 6 + 100 * 10 + (units - 300) * 20
print("Your electricity bill for ",units," units is: ",bill," rupees")

Enter the units of electricity consumed:  4000

Your electricity bill for  4000  units is:  76050.0  rupees

### Question 4 :- Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print that list.

#### Answer:-

In [48]:
# Using for loop.

l1=[]
for i in range(1,101):
    cube = i**3
    if cube % 4==0 or cube % 5==0:
        l1.append(cube)

cubes

[1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625,
 17576,
 19683,
 21952,
 24389,
 27000,
 29791,
 32768,
 35937,
 39304,
 42875,
 46656,
 50653,
 54872,
 59319,
 64000,
 68921,
 74088,
 79507,
 85184,
 91125,
 97336,
 103823,
 110592,
 117649,
 125000,
 132651,
 140608,
 148877,
 157464,
 166375,
 175616,
 185193,
 195112,
 205379,
 216000,
 226981,
 238328,
 250047,
 262144,
 274625,
 287496,
 300763,
 314432,
 328509,
 343000,
 357911,
 373248,
 389017,
 405224,
 421875,
 438976,
 456533,
 474552,
 493039,
 512000,
 531441,
 551368,
 571787,
 592704,
 614125,
 636056,
 658503,
 681472,
 704969,
 729000,
 753571,
 778688,
 804357,
 830584,
 857375,
 884736,
 912673,
 941192,
 970299,
 1000000]

In [47]:
#Using While loop.

i=1
cubes=[]
while i <=100:
    cube=i**3
    cubes.append(cube)
    i=i+1
cubes

[1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625,
 17576,
 19683,
 21952,
 24389,
 27000,
 29791,
 32768,
 35937,
 39304,
 42875,
 46656,
 50653,
 54872,
 59319,
 64000,
 68921,
 74088,
 79507,
 85184,
 91125,
 97336,
 103823,
 110592,
 117649,
 125000,
 132651,
 140608,
 148877,
 157464,
 166375,
 175616,
 185193,
 195112,
 205379,
 216000,
 226981,
 238328,
 250047,
 262144,
 274625,
 287496,
 300763,
 314432,
 328509,
 343000,
 357911,
 373248,
 389017,
 405224,
 421875,
 438976,
 456533,
 474552,
 493039,
 512000,
 531441,
 551368,
 571787,
 592704,
 614125,
 636056,
 658503,
 681472,
 704969,
 729000,
 753571,
 778688,
 804357,
 830584,
 857375,
 884736,
 912673,
 941192,
 970299,
 1000000]

### Question 5 :-Write a program to filter count vowels in the below-given string. string = "I want to become a data scientist".

#### Answer:-

In [54]:
String = "I want to become a data scientist"
vowels = "aeiou"
count = 0
for char in string:
    if char.lower() in vowels:
        count=count+1
print("Numbers of Vowels in String Is: ",count)

Numbers of Vowels in String Is:  12